.Square {
	height: 100%;
  width: 100%;
}

.BlackSquare {
  composes: Square;
  background: black;
  background: RGB(118, 150, 86);
}

.WhiteSquare {
	composes: Square;
	background: white;
  background: RGB(238, 238, 210);
}